@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs-trace {
  color: #abb2bf
}

.hljs-ip,
.hljs-debug {
  color: #98c379
}

.hljs-info {
  color: #56b6c2
}

.hljs-warn {
  color: #d19a66
}

.hljs-error {
  color: #e06c75
}

.hljs-critical {
  color: #c678dd
}
